.home-wrapper {
    padding: 10px;

    header {
        padding: 10px 5px;
        line-height: 24px;
        text-align: right;

        > * {
            margin-right: 10px;
        }
    }

    .content {
        padding: 10px;
    }
}
