.home-wrapper {
    padding: 30px;

    .add-page {
        float: right;
        margin-left: 20px;
    }

    article {
        text-align: center;
        text-align: center;
        margin-top: 80px;

        h5 {
            font-size: 16px;
        }
    }
}
