{
    "presets": [
        ["env", {"modules": false}],
        "react",
        "stage-1"
    ],
    "plugins": [
        "react-hot-loader/babel",
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }]
    ]
}
