.side-nav {
    background-color: #fff;
    border-right: 1px solid #e8e8e8;
    overflow: scroll;

    header {
        line-height: 70px;
        padding: 0 10px;
        font-size: 18px;

        span {
            margin-left: 10px;
            font-size: 14px;
        }
    }

    .treeWrapper {
        display: inline-block;
        padding: 7px 10px;

        h5 {
            padding: 5px 10px;
            font-weight: 700;
            font-size: 12px;
            line-height: 20px;
            color: #707070;
        }
    }
}
